<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>메인</title>
<link rel="stylesheet" th:href="@{/css/menuweb.css}" />
<script src="https://kit.fontawesome.com/cbcad42a26.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<!-- CSS only -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">



//전역변수로 뺐음
	let count = 5; 
	//로그인이 되어 있으면 수정, 삭제 보이도록 로그인 안되있으면 수정 삭제 안보임.
	let session_user = "[[${session.id}]]";
	
	function toggle(){
		if($("#box1").css('display')=='none'){
			$("#box1").css('display','block');
			$("#box2").css('display','none');
			$("#toggleBtn").html('전체보기');
		}else{
			$("#box1").css('display','none');
			$("#box2").css('display','block');
			$("#toggleBtn").html('그림리뷰만보기');
		}
	}
	
	
	$(function() {
		
		$("#result2").css("display","none");
		
		price=0;
		if(price==0){
			$("<div id='orderYN'>주문내역이 없습니다.</div>").appendTo($("#result"));
		}
		let idx=$("#idx").val();
			axios.get('selectByRef/'+idx)
			  .then(function (response) {
			    // 성공 핸들링
			    let value=response.data;
			    console.log(value);
			   	$(value).each(function(i,ele){
			   		if(ele.image.indexOf("http")<0)
			   			image = $("<img src='/"+ele.image+"' onclick='img("+(ele.idx)+");' width='100' height='100'>");
			   		else 
			   			image = $("<img src='"+ele.image+"' onclick='img("+(ele.idx)+");' width='100' height='100'>");
				   $(image).appendTo($("#result1"));
			   	});
			   	//$("#result1").html($(div));
			  })
			  .catch(function (error) {
			    // 에러 핸들링
			    console.log(error);
			  })
			  .finally(function () {
			    // 항상 실행되는 영역
			  });
			
		$("#menu1").click(function(){
			axios.get('selectByRef/'+idx)
			  .then(function (response) {
			    // 성공 핸들링
			    let value=response.data;
			   	let div = $("<div></div>");			   		
				$(value).each(function(i,ele){
					
					
					
				   	image = $("<img src='"+ele.image+"' width='100' height='100'>");
				   $(image).appendTo($(div));
			   	});
			   	$("#result1").html($(div));
			  })
			  .catch(function (error) {
			    // 에러 핸들링
			    console.log(error);
			  })
			  .finally(function () {
			    // 항상 실행되는 영역
			  });
			$("#menu1").addClass('active');
			$("#menu2").removeClass('active');
			$("#menu3").removeClass('active');
			$("#result1").css("display","block");
			$("#result2").css("display","none");
			$("#result3").css("display","none");
		});
		
		//리뷰 클릭하면
		$("#menu2").click(function(){
			$("#menu2").addClass('active');
			$("#menu1").removeClass('active');
			$("#menu3").removeClass('active');
			$("#result1").css("display","none");
			$("#result2").css("display","block");
			$("#result3").css("display","none");
			
			//사진 보이기,전체보기, 내용갖고오는 함수임
			getReview();
			
			

			
		});
		
		$("#menu3").click(function(){
			$("#menu3").addClass('active');
			$("#menu1").removeClass('active');
			$("#menu2").removeClass('active');
			$("#result1").css("display","none");
			$("#result2").css("display","none");
			$("#result3").css("display","block");
			axios.get('/selectByCompany?idx='+idx)
			  .then(function (response) {
			    // 성공 핸들링
			    console.log(response.data);
			    value=response.data;
			    console.log(value.managerPhone);
			    let div=$("<div class='info-list'></div>");
			    info=$("<div class='info icon'>업체정보</div>");
			    p=$("<p><span>영업시간</span><span style='width:150px;'>00:00 ~ 23:59</span></p>");
			    phone=$("<p><span>업체번호</span><span style='width:150px;'>"+value.managerPhone+"</span></p>");
			    address=$("<p><span>업체주소</span><span style='width:150px;'>"+value.managerAddress+"</span></p>");
			    $(info).appendTo($(div));
			    $(p).appendTo($(div));
			    $(phone).appendTo($(div));
			    $(address).appendTo($(div));
			  	$("#result3").html($(div));
			  })
			  .catch(function (error) {
			    // 에러 핸들링
			    console.log(error);
			  })
			  .finally(function () {
			    // 항상 실행되는 영역
			  });
		});
		
		
		
		
	})

	
    //그 idx를 가져와서
	function search(idx){
		location.href='/review/update?idx='+idx;
	}
	
	function search2(idx){
		//.href='/review/delete?idx='+idx;
		if(confirm("삭제하겠습니까?")){
			location.href="/review/delete?idx="+idx;
		}
	} 
	
	
	function remove(idx,p,count){
		$("#food"+idx).remove();
		price-=p*count;
		if(price==0)$("<div id='orderYN'>주문내역이 없습니다.</div>").appendTo($("#result"));
		if(price>0)$("#price").html("<hr style='width:370px;'/><div class='div-price'>합계 : "+price.toLocaleString("ko-KR")+"  <input type='submit' id='pay' class='btn btn-outline-info btn-sm' value='주문하기' /></div>");
		else $("#price").html("");
	}
	function removeall(){
		$("#result").html("");
		price=0;
		$("<div id='orderYN'>주문내역이 없습니다.</div>").appendTo($("#result"));
		$("#price").html("");
		
	}
	function img(idx){
		x = Math.ceil((window.screen.width-350) / 2);
		y = Math.ceil((window.screen.height-500) / 2);
		console.log("y : "+y);
		win = window.open('ex3/'+idx, '주문하기', 'width=500,height=500,left='+ x+', top='+y);
	};
	function getData(data) {
		console.log(data);
		price += data.price*data.count;
		if(price>0)$("#orderYN").remove();
		$(
				"<div id='food"+data.idx+"' style='padding:10px;'> <input type='button' class='btn-close' onclick='remove(" + data.idx + ","
				+ data.price + ","+data.count+")'> <div style='width:150px;display:inline-block;'>" + data.name + "</div> <span style='margin-left:20px;'>" + ((data.price).toLocaleString("ko-KR"))+" </span><span style='margin-left:20px;'>"+data.count+"</span></div>").appendTo(
				$("#result"));
		$("<input type='hidden' name='name' value='"+data.name+"'>")
				.appendTo($("#result"));
		$("<input type='hidden' name='userid' value='"+$("#id").val()+"'>").appendTo($("#result"));
		$("<input type='hidden' name='idx' value='"+$("#idx").val()+"'>").appendTo($("#result"));
		$("<input type='hidden' name='count' value='"+data.count+"'>").appendTo($("#result"));
		$("#price").html("<hr style='width:370px;'/><div class='div-price'>합계 : " + price.toLocaleString("ko-KR")+"   <input type='submit' id='pay' class='btn btn-outline-info btn-sm' value='주문하기' /></div>");
	}
	
	//더보기 실행 함수
	function getReview(){
		
		//n 개 만 갖고오는 함수 mapper를 다시 만들어줘야한다.
		axios.get('/review/selectByRefReview2?count=' + count)
		  .then(function (response) {
			  
		
			  
			  
		    // 성공 핸들링
		    console.log(response.data);
		    //전체 길이 나옴
		    values=response.data;
		    console.log(values[0].idx);
			//console.log(values.length);
	    	              
      
            	  
            	 let box = "";
    			 //----------------------------------------------------------------
    			 box += "<button id='toggleBtn' onclick='toggle()'>사진만 보기</button><br>";
    			 box += "<div>리뷰:"+$("#count").val()+"개</div>";
    			 //----------------------------------------------------------------
    			 let box1 = "<div id='box1' class='line'>" + box; // 사진리뷰만
    			 let box2 = "<div id='box2' class='line'>" + box; // 모든 리뷰
            	  
            	  
			//반복문으로 출력하셈
		   for(value of values){
		    	
		    //파일이 1개 이상이면 옆으로 출력되도록 만들기
		    	//console.log(JSON.stringify(value.fileList));
		    	// 사진 리뷰만 나오기
		    	if(value.fileList!=null && value.fileList.length>0){
				    for(image of value.fileList){
					    box1 +=  "<img src='/upload/" +image.uuid+ "' width='100' height='100'>";
				    }
					box1 += "<br>"
		    		
				    //여기서부터 순서 절대 바꾸지 마세요!!! 
				    box1 += "<div>" +value.userid+ "님</div>";
				    box1 += "<div>내용:  " +value.content+ "</div>";
				    box1 += "<div>메뉴:  " +value.name+ "</div>";
				    box1 +="<div>날짜:  " +value.regDate2+ "</div>";

				    //$(score).appendTo($(div));
				    //별 이미지 나오게 하는 법
				    for(i=1;i<=value.score;i++){
				    	  box1 +="<img src='/images/star.png'>";
				    }
				    
				    //로그인이 되어 있으면 수정, 삭제
				    //value에 있는 idx 를 가져옴
				 
				    if(session_user==value.userid){
				    				    
				     	box1 +="<button onclick='search("+value.idx+");'>수정</button>";
				     	box1 +="<button onclick='search2("+value.idx+");'>삭제</button>";
					  
				    }
			        box1 += "<br><hr>";
		    	}
		    }
	        box1 += "</div>";
	        
	        //반복문으로 출력하셈
		    for(value of values){
		    	//전체 다 나오게 
                //앞에 if문을 써줘야함 null이 아니면, null이 아니면,,
		    	if(value.fileList!=null && value.fileList.length>0){
				    for(image of value.fileList){
					    box2 +=  "<img src='/upload/" +image.uuid+ "' width='100' height='100'>";
				    }
					box2 += "<br>"
		    	}
				    //여기서부터 순서 절대 바꾸지 마세요!!! 
				    box2 += "<div>" +value.userid+ "님</div>";
				    box2 += "<div>내용:  " +value.content+ "</div>";
				    box2 += "<div>메뉴:  " +value.name+ "</div>";
				    box2 +="<div>날짜:  " +value.regDate2+ "</div>";

				    //$(score).appendTo($(div));
				    //별 이미지 나오게 하는 법
				    for(i=1;i<=value.score;i++){
				    	  box2 +="<img src='/images/star.png'>";
				    }
				    
				    //로그인이 되어 있으면 수정, 삭제
				    //value에 있는 idx 를 가져옴
				    //그 idx를 가져와서  196번째 줄에 있음 //그 링크로 보낸다...
				    if(session_user==value.userid){
				    				    
				     	box2 +="<button onclick='search("+value.idx+");'>수정</button>";
				     	box2 +="<button onclick='search2("+value.idx+");'>삭제</button>";
					  
				    }
			        box2 += "<br><hr>";
				 
			}
		
	        box2 += "</div>";
	        $("#result2").html(box1 + box2 + "<button id='toggle' onclick='reViewUpdate()'>더보기</button>");
	        $("#box1").css("display","none");
	        
	        
	        
		  //더보기 기능 사라짐
	        if(count > values.length){
	        	
	        	$("#toggle").remove();
	        }

	      
		
	        //----------------------------------------------------------------
		  }) 
		   

		  
		  .catch(function (error) {
		    // 에러 핸들링
		    console.log(error);
		  })
		  .finally(function () {
		    // 항상 실행되는 영역
		  });
	}
	
	function reViewUpdate(){
		count += 5;
		getReview();
		
		
		
		
	}
	
	
	
</script>
<style type="text/css">
.tag {
	text-decoration: none;
	color: #000;
}

.line {
	border: 2px solid gray;
}
</style>
</head>
<body>


	<input type="hidden" id="idx" th:value="${idx}" />
	<input type="hidden" id="id" th:value="${session.id}" />
	<div id="header" class="header">
		<div class="navigation ver-pc">

			<div class="nav-top">
				<h2>
					<a th:href="@{/yokiyoo}" class="yooki">요기요</a>
				</h2>
				<div>
					<th:block th:if="${session.id !=null}">
						<button type="button" class="login"
							th:onclick="|location.href='@{/logout}'|">로그아웃</button>
						<button type="button" class="login2"
							th:onclick="|location.href='@{/mypage}'|">주문내역</button>
					</th:block>
					<th:block th:if="${session.id==null}">
						<button type="button" class="login"
							th:onclick="|location.href='@{/login}'|">로그인</button>
					</th:block>
				</div>
			</div>
			<div class="search">
				<div class="image"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="content">
			<div class="restaurantlist">
				<ul>
					<li>검색</li>
					<li>전체보기</li>
					<li>1인분주문</li>
					<li>프랜차이즈</li>
					<li><a class="tag" th:href="@{/menuweb/1}">치킨</a></li>
					<li><a class="tag" th:href="@{/menuweb/2}">피자/양식</a></li>
					<li><a class="tag" th:href="@{/menuweb/3}">일식/돈까스</a></li>
					<li>한식</li>
					<li>중국집</li>
					<li>족발/보쌈</li>
					<li>야식</li>
					<li>분식</li>
					<li>카페/디저트</li>
					<li>편의점/마트</li>
				</ul>
			</div>
		</div>
	</div>
	<div style="width: 505px; display: inline-block; margin-left: 200px;">
		<div>
			<div class="menu_title">
				[[${vo.name}]]
				<hr />
			</div>
			<div>
				<img th:src="@{|/${vo.image}|}" th:alt="회사로고" width="100"
					height="100" /> <span>[[${vo.rank}]]</span>
			</div>
		</div>
		<ul class="nav nav-tabs" style="margin-top: 20px;">
			<li class="nav-item"><div class="nav-link active"
					aria-current="page" id="menu1"
					style="width: 165px; text-align: center;">메뉴</div></li>
			<li class="nav-item"><div class="nav-link"
					style="width: 165px; text-align: center;" id="menu2">클린리뷰</div></li>
			<li class="nav-item"><div class="nav-link"
					style="width: 165px; text-align: center;" id="menu3">정보</div></li>
		</ul>
		<div id="result1"
			style="border-top: 1px solid black; border-bottom: none;"></div>
		<div id="result2"
			style="border-top: 1px solid black; border-bottom: none;"></div>
		<div id="result3" style="border: 1px solid black;"></div>
	</div>
	<div
		style="float: right; border: 1px solid black; width: 370px; position: relative; right: 100px;">
		<div class="orderTitle">
			주문표
			<hr />
		</div>
		<form action="exPay" method="post">
			<div id="result"></div>
			<div>
				<div id="price"></div>
			</div>
		</form>
	</div>

<!-- 리뷰에서 (n)개 갖고 오는것 -->
	<input type="hidden" id="count" th:value="${count}" />
	<!--<button th:onclick="|location.href='@{/review/update(idx=64)}'|">asdf</button>-->
</body>
</html>