<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yokiyoo</title>
    <link rel="stylesheet" href="css/yokiyoo.css">
    <script src="https://kit.fontawesome.com/cbcad42a26.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
   	<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
    <script type="text/javascript">
    	$(function(){
    		$("img").click(function(){
    			location.href="menuweb/"+($(this).attr("alt"));
    		});
    	});
    </script>
    <style type="text/css">
    	img{cursor: pointer;}
    	.login{cursor: pointer;}
    </style>
</head>

<body>

    <div id="header" class="header">

        <div class="navigation ver-pc">

            <div class="nav-top">

                <h2>요기요</h2>
             	<th:block th:if="${session.id !=null}">
                 <button type="button" class="login" th:onclick="|location.href='@{/logout}'|"> 로그아웃</button></th:block>
                 <th:block th:if="${session.id==null}">
                  <button type="button" class="login" th:onclick="|location.href='@{/login}'|"> 로그인</button>
                 </th:block>
                
            </div>

            <div class="search">


                <div class="image"></div>
            </div>
        </div>
    </div>




    <div class="category-list">
        <div class="row">

            <div class="pop1">
                <img src="	https://d5bfh7nnlp98y.cloudfront.net/2302_jsevent/230130_YGY_m2_MW_thumb_1.png" >
                <a href=""></a>
            
       <i class="xi-angle-right pop2"></i>
            </div>
            <div class="pop1">
                <div class="category-title">전체보기</div>
                <img src="https://www.yogiyo.co.kr/mobile/image/category-01.png"><a href=""></a>
            </div>


            <div class="pop1">
                <div class="category-title">치킨</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-02.png" alt="1"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">피자/양식</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-03.png" alt="2"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">중국집</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-04.png"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">한식</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-05.png"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">일식/돈까스</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-06.png" alt="3"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">족발/보쌈</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-07.png"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">야식</div><img src="https://www.yogiyo.co.kr/mobile/image/category-08.png"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">분식</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-09.png"><a href=""></a>
            </div>

            <div class="pop1">
                <div class="category-title">프렌차이즈</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-10.png"><a href=""></a>
            </div>
            <div class="pop1">
                <div class="category-title">카페/디저트</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-11.png"><a href=""></a>
            </div>
            <div class="pop1">
                <div class="category-title">1인분 주문</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-onedish.png"><a
                    href=""></a>
            </div>
            <div class="pop1">
                <div class="category-title">편의점/마트</div> <img src="https://www.yogiyo.co.kr/mobile/image/category-convenience-store.png"><a
                    href=""></a>
            </div>



        </div>


    </div>

    <footer>

        <div class="footer-menu">

            <ul>

                <li>이용약관</li>
                <li>개인정보처리방침</li>
                <li>포인트정책</li>
                <li>회사소개</li>
                <li>요기요사장님</li>
                <li>입점문의</li>
                <li>공지사항</li>
            </ul>

            <ul>

                <li><i class="xi-facebook"></i>페이스북</li>
                <li> <i class="xi-telegram"></i>블로그</li>
            </ul>

        </div>

        <div class="company-wrap">

            <div class="company-logo"> 요기요</div>


            <div class="company-info">

                <div class="low">주식회사 위대한상상</div>
                <ul>
                    <li class="pop">서울시 서초구 서초대로38길 12 마제스타시티 타워2 17층</li>
                    <li class="pop">대표이사 : 서성원</li>
                    <li class="pop">사업자등록번호:211-88-68802</li>
                    <li class="pop">통신판매업신고:제 2018-서울서초-2635호</li>
                    <li class="pop">개인정보담당자 : privacy@yogiyo.co.kr</li>
                    <li class="pop">제휴문의 : partnership@yogiyo.co.kr</li>
                    <li class="pop">고객만족센터 : support@yogiyo.co.kr</li>
                    <li class="pop">호스팅 제공자: 카페24 주식회사</li>

                </ul>

                <div class="service-info">

                    <div class="bpg">
                        <span class=" img"></span>
                        <span class="text">요기요<br>안심센터</span>
                    </div>
                    <div class="cleanreview">


                        <span class="img"></span>
                        <span class="text">요기요<br>100% 클린리뷰</span>


                    </div>
                    <div class="csc"><em>고객만족센터</em> <strong>1661-5270</strong><em>(유료)</em> <span>24시간,
                            연중무휴</span></div>

                </div>

                <div>

                    <p>주식회사 위대한상상은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 상품/ 거래정보 및 거래와 관련하여 요기요에 등록된 판매자의 고의 또는 과실로 소비자에게 발생하는
                        손해에
                        대해 주식회사 위대한상상은 책임을 지지 않습니다. 상품 및 거래에 관하여 보다 정확한 정보는 해당 판매자에게 직접 확인하여 주시기 바랍니다. Copyright YOGIYO.
                        All
                        Rights Reserved.</p>
                </div>
            </div>



        </div>



    </footer>



</body>

</html>